.navbar-brand{
    font-size:xx-large;
    padding-left: 1%;
}
.nav-link{
    color: aliceblue;
}

.year{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.semester{
    border: 1px solid rgb(169, 203, 255);
    border-radius: 10px;
    margin-bottom: 2%;
}


