.navbar-brand{
    font-size:xx-large;
    padding-left: 1%;
}
.nav-link{
    color: aliceblue;
}

.year{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.semester{
    border: 1px solid rgb(169, 203, 255);
    border-radius: 10px;
    margin-bottom: 2%;
}

.loginpage, .registerpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

.loginpage>form, .registerpage>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#linktoreg{
    text-decoration: none;
    color: rgb(24, 145, 243);
    align-self: center;
}

#linktoreg:hover{
    text-decoration: underline;
}