.navbar-brand{
    font-size:xx-large;
    padding-left: 1%;
}
.nav-link{
    color: aliceblue;
}

.year{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.semester{
    border: 1px solid rgb(169, 203, 255);
    border-radius: 10px;
    margin-bottom: 2%;
}

.course{
    display: flex;
    font-weight: normal;
    text-align: left;
}

.course label{
    flex:  1;
    font-weight: normal;
    text-align: left;
}

.course input[type="number"]{
    flex: 0 0 80px;
    text-align: center;
}


.loginpage, .registerpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

.loginpage>form, .registerpage>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#linktoreg{
    text-decoration: none;
    color: rgb(24, 145, 243);
    align-self: center;
}

#linktoreg:hover{
    text-decoration: underline;
}

#contactpage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-left: auto;
}

#contact{
    align-self: center;
    border: 2px;
}

#githubrepo{
    text-decoration: none;
    color: rgb(0, 83, 179);
}

#githubrepo:hover{
    text-decoration: underline;
}

.semester>legend{
    font-weight: bold;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

