{{>navbar username=username}}
<div class="loginpage">
            <form method="post"> 
                <h1>Σύνδεση</h1>
                <br>
                <label for="username" class="form-label">Όνομα Χρήστη</label>
                <input type="text" class="form-control" id="username" name="username" required>
                <label for="password" class="form-label">Κωδικός</label>
                <input type="password" class="form-control" id="password" name="password" required>
                <br>
                <button type="submit" class="btn btn-primary">Σύνδεση</button>
                <br>
                <a id="linktoreg" href="/register">Δεν εχω λογαριασμό</a>
            </form>
</div>

